body {
    width: 100vw;
    height: 100vh;
}
.backLayer {
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 10;
}
.enemyNavyShip {
    background: no-repeat center;
    background-size: 40px 64px;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 10;
    background-image: url('images/ship (5).png');
}
.playerCannonBall {
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    position: fixed;
    z-index: 10;
    background-image: url('images/cannonBall.png');
}
#player {
    background: no-repeat center;
    background-size: 40px 64px;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 15;
    background-image: url('images/ship (2).png');
    /*transform: rotate(180deg);*/
}
